body {
  background-color: #ffffffda;
  font-family: 'Times New Roman', Times, serif;
}

.dashboard__title {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
  background-color: hsl(219, 100%, 20%);
  color: white;
}

.dashboard__card-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.dashboard__card-value {
  font-size: 1.8rem;
  font-weight: 600;
}

.chart-container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard__chart-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.dashboard__container {
  max-width: 1200px;
  background-color: #ffffffda;
}

.dashboard__card-item {
  transition: transform 0.2s;
}

.dashboard__card-item:hover {
  transform: scale(1.02);
}
/*iconitos*/
.dashboard__value-icon {
  margin-top: 10px;
}

.dashboard__card-value {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0; /* elimina margen para que quede alineado bien */
}

.dashboard__card-icon {
  font-size: 2.5rem;
  color:hsl(219, 100%, 20%);
  opacity: 1;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.dashboard__card-item:hover .dashboard__card-icon {
  color: #1367e5;
  opacity: 1;
}
/*FOOTER*/
.footer {
  background-color: #002366;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.footer__text {
  margin: 0;
  font-size: 0.9rem;
}
.main{
flex-grow: 1;
position: relative;
overflow: hidden;
}

.header {
    background-color: #eeeeee;
    color: hsl(219, 100%, 20%);
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    flex-wrap: wrap; 
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

.header__title {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    
}

.header__logo {
    width: 100px;
    height: auto;
    object-fit: contain;
}

/* Menú lateral */
.sidebar__toggle {
    display: none;
}

.sidebar__icon-toggle {
    background-color:transparent;
    color: #002366;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 60px;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #eeeeee;
    padding-top: 65px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index:1;
}

.sidebar__menu {
    list-style: none;
    padding-left: 0px;
}

.sidebar__link,
.sidebar__button {
    display: block;
    padding: 15px;
    color: #002366;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar__link:hover,
.sidebar__button:hover {
    background-color: #cca700;
}

.sidebar__actions {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.sidebar__toggle:checked + .sidebar__icon-toggle + .sidebar {
    transform: translateX(0);
}